@model IEnumerable<ECommerce.Models.CustomerDto>




<div class="card-header" style="background-color:midnightblue;">
    <div class="card-title">
        <h1 class="text-center">Customers</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>



            <th>
                Update
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.PhoneNumber)
            </td>

            <td>
                <a asp-action="Update" asp-route-id="@customer.Id">Update</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@customer.Id">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<button style="background-color:wheat;"><a asp-controller="Customer" asp-action="Create">Add Customer</a> </button>
